name: Publish to GH Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source (main branch)
        uses: actions/checkout@v3
        with:
          submodules: true # Esto asegura que los submódulos se incluyan al hacer el checkout

      - name: Checkout destination (gh-pages branch)
        uses: actions/checkout@v3
        if: github.ref == 'refs/heads/main'
        with:
          ref: gh-pages
          path: built-site # La carpeta donde se va a clonar la rama `gh-pages`

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest' # Esto instala la última versión de Hugo automáticamente

      - name: Build the site
        run: hugo

      - name: Deploy to gh-pages
        if: github.ref == 'refs/heads/main'
        run: |
          cp -R public/* ${GITHUB_WORKSPACE}/built-site/ # Copia el sitio generado en `public` a `built-site`
          cd ${GITHUB_WORKSPACE}/built-site
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m 'Update site' || echo "No changes to commit"
          git push
